page-report {
	table {
		border: 3px double #000;
		width: 100%;
        border-collapse: collapse;
		
		thead {
			font-weight: bold;
			tr, th {
				border: 1px solid green;
			}
		}
		
		tbody {
			
			tr, td {
				border: 1px solid red;
			}
			
			 tr:nth-of-type(odd) {
                background: #eee;
			}
		}
	}
	
	ion-grid
	{
	   overflow-x: scroll;

	}

	ion-row
	{
		display: table;       
	}
}
