<ion-header>
  <ion-navbar transparent>
	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>"လူငယ္ဘက္စံုဖြံ႕ၿဖိဳးေရးပြဲေတာ္ (မႏၲေလး) <br class="tablet">ျမန္မာႏိုင္ငံလံုးဆိုင္ရာအမ်ိဳးသမီးေကာ္မတီ မႏၲေလးတိုင္းေဒသႀကီး<br> ျပခန္းေမးခြန္းလႊာ"</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>

  <section margin-top margin-bottom>
    <ion-slides #slides effect="coverflow" pager="true" paginationType="fraction">
      <ion-slide *ngFor="let concert of quizdata">
        <ion-card>
          <div class="the-header">
			
            <div class="header-text">
			  <div>
					<ion-row no-padding>
					  <ion-col>
						  <button class="bt1" ion-fab></button>
						</ion-col>
						<ion-col>
							<button class="bt2" ion-fab></button>
						</ion-col>
					</ion-row>
				</div>
              <h3>{{concert.question}}</h3>
            </div>
            
            <div class="background" [style.background]="concert.color">
			
            </div>
			
          </div>
          <div class="the-content" padding>
            <div class="answers" padding>

			<ion-list radio-group *ngFor="let ans of concert.answer;" [(ngModel)]="choiceanswer">
 
                <ion-item>
					
                    <ion-label>အေျဖ= {{ans}}</ion-label>
                    <ion-radio  [value]="ans"></ion-radio>
 
                </ion-item>
               
            </ion-list>
            
           
			</div>

		   <button type="submit" [disabled]="!choiceanswer" float-right ion-button *ngIf="!(indexslide == true)" class="btnNext" (click)="go(concert)">Next</button>
		   <button type="submit" float-right ion-button *ngIf="indexslide == true" class="btnNext" (click)="next()">Finish</button>
          </div>
           
        </ion-card>
      </ion-slide>
    </ion-slides>
  </section>
</ion-content>
<ion-footer>
  <ion-toolbar>
	
    <div class="footer-toolbar">
	<button class="bt3" ion-fab mini></button>
    <span>MCIA (Myanmar Computer Industry Association)<br> Mandalay Region</span> မွ လႉဒါန္းပါသည္။
    <button class="bt4" ion-fab mini></button>
    </div>
  </ion-toolbar>
</ion-footer>
