// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-title {
        color: #fff !important;   
}
.toolbar-background {
	background: transparentize(#34aff2 ,0.1) !important;
}
.card-background-page {

  .menu-header {
    padding: 10px 15px;
    background-image: url('../assets/images/nld1.jpg');
    background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.9;
    height: 45%;
    text-align: center;
    color: white;
    
    
    .card-title {
		position: absolute;
		top: 5px;
		font-size: 1.5em;
		text-align: center;
		width: 90%;
		font-weight: bold;
		color: #000;

	  }
  }
  
  ion-list {
	button {
		background-color: #34aff2;
		border-radius: 20px;
		 @media screen and (max-width: 480px) {
			 margin: 5px auto;
			 box-shadow: 2px 1px 2px 2px #888888;
		}
		@media screen and (min-width: 500px) {
			 margin: 8px auto;
			 box-shadow: 3px 1px 3px 3px #888888;
		}
	
	}
  }
}

